@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-gray: #4E4E4E;
    --clr-main: #001F3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--clr-white);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--clr-main);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.5);
}

a.navbar-brand {
    color: var(--clr-white);
    margin: 0;
    padding: 0 1rem 0 0;
    font-weight: 400;
    font-size: 2rem;
}

nav.navbar.navbar-expand-lg,
div.container-fluid {
    padding: 0;
}

a.nav-link {
    color: var(--clr-white);
}

button.navbar-toggler {
    background-color: var(--clr-white);
    border: 0;
}

span#numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-radius: .5rem;
    padding: .15rem .25rem;
    font-weight: 600;
}

main {
    margin: 0 2rem;
    min-height: 100vh;
}

.separador {
    margin: 2rem 0;
    text-transform: uppercase;
}

h2#productos,
h2#reseñas,
h2#contacto,
h2#carrito {
    margin: 0;
}

footer {
    background-color: var(--clr-main);
    padding: 1rem 2rem;
    margin-top: 2rem;
}

.texto-footer {
    color: var(--clr-white);
    margin: 0;
}

/* INICIO: Productos */

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.producto-detalles {
    background-color: #001F3F;
    padding: 1rem;
    border-radius: .5rem;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
}

.producto-imagen {
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.producto-titulo {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.producto-precio {
    margin-bottom: .25rem;
}

.producto-agregar {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .25rem 0;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: all .15s ease;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/* INICIO: Reseñas */

.contenedor-reseñas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.reseña-detalles {
    background-color: var(--clr-main);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--clr-white);
}

.reseña-arriba {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.reseña-imagen {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 100%;
}

.reseña-nombre {
    font-size: 1rem;
}

.reseña-calificacion {
    margin: 0;
    font-size: 1rem;
}

.reseña-comentario {
    margin: 0;
}

/* INICIO: Contacto */

.contenedor-contacto {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
}

input, textarea {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-gray);
}

input#name,
input#email {
    margin-bottom: .5rem;

}

textarea#message {
    resize: none;
    margin-bottom: .5rem;
}

form button {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem 0;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid var(--clr-main);
    transition: all .15s ease;
    width: 25%;
}

form button:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
}

/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.carrito-producto p,
div.carrito-producto h3 {
    margin: 0;
}

div.carrito-acciones-total p {
    margin: 0;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
}

.carrito-acciones {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1280px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    form {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }

    .contenedor-reseñas {
        grid-template-columns: 1fr;
    }

    form {
        width: 100%;
    }

    .carrito-producto,
    .carrito-acciones-total {
        padding: .5rem;
        font-size: .75rem;
    }

    .carrito-producto-eliminar {
        padding: .5rem 1rem;
        font-size: .75rem;
    }

    .carrito-producto-titulo h3 {
        font-size: 1rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones-comprar {
        padding: .5rem 1rem;
        font-size: .75rem;
    }

    .carrito-producto-precio p,
    .carrito-producto-cantidad p {
        font-size: .75rem;
    }
    
    .carrito-producto-imagen {
        width: 50px;
    }
}

@media screen and (max-width: 480px) {
    main {
        margin: 0 1rem;
    }

    .separador {
        margin: 1.5rem 0;
    }

    .carrito-producto-imagen {
        width: 25px;
        border-radius: .5rem;
    }

    .carrito-producto-eliminar {
        padding: .5rem .25rem;
        font-size: .75rem;
    }

    .carrito-acciones-comprar {
        padding: .5rem .25rem;
    }

    .carrito-acciones-total {
        padding: .5rem .25rem;
    }
}